{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #d4edfe"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><b>HOME</b></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="search_url"><b>Search Url</b></a>
        </li>
      </ul>
      <div class="d-flex justify-content-center">
        <a href="logout" class="btn btn-secondary mb-1">Log out</a>
      </div>
    </div>
  </div>
</nav>

<div>
  <section style="background-color: #447eb4">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="card text-dark">
            <h4 class="mb-0 m-4">Recent comments</h4>
            <p class="fw-light mb-4 m-4 pb-2">Latest Comments section by users</p>
            <!-- Render Comment -->
            <div id="comment">
              {% for comment in comments %}
              <div>
                <div class="card-body p-4">
                  <div class="d-flex flex-start">
                    <img
                      class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp"
                      alt="avatar"
                      width="60"
                      height="60"
                    />
                    <div>
                      <h6 class="fw-bold mb-1">{{comment[0]}}</h6>
                      <div class="d-flex align-items-center mb-3">
                        <p class="mb-0">
                          {{ comment[2] }}
                          <span class="badge bg-primary">Public</span>
                        </p>
                      </div>
                      <p class="mb-0">
                        {{ comment[1]|safe }}
                      </p>
                    </div>
                  </div>
                </div>
                <hr class="my-0" />
                <hr class="my-0" style="height: 1px" />
              </div>
              {% endfor %}
            </div>


            <!-- Post Comment -->
            <div>
              <hr class="my-0" />
              <hr class="my-0" style="height: 1px" />
              <hr class="my-0" />
              <hr class="my-0" style="height: 1px" />
              <div class="card-body p-4">
                <div class="d-flex flex-start w-100">
                  <img
                    class="rounded-circle shadow-1-strong me-3"
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp"
                    alt="avatar"
                    width="65"
                    height="65"
                  />
                  <div class="w-100">
                    <h5>Add a comment</h5>
                    <form method="post">
                      <div class="form-outline">
                        <textarea
                          name="comment"
                          class="form-control"
                          rows="4"
                        ></textarea>
                        <label class="form-label" for="textAreaExample"
                          >What is your view?</label
                        >
                      </div>
                      <div class="d-flex justify-content-between mt-3">
                        <div></div>
                        <button type="submit" class="btn btn-danger">
                          Send<i class="fas fa-long-arrow-alt-right ms-1"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
