{% extends "base.html" %} {% block title %}Search User{% endblock %} {% block content
%}
<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #d4edfe"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="home"><b>HOME</b></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="search_url"><b>Search Url</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="search_user"><b>Search User</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="change_password"><b>Change Password</b></a>
        </li>
      </ul>
      <div class="d-flex justify-content-center">
        <a href="logout" class="btn btn-secondary mb-1">Log out</a>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid mt-4">
  <form class="d-flex" method="post">
    <input
      name="name"
      class="form-control me-2"
      type="search"
      placeholder="Search User"
      aria-label="Search"
      style="background-color: rgb(216, 222, 217)"
    />
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  {% with messages = get_flashed_messages() %} {% if messages %} {% for m in
  messages %}
  <p style="color: #ff4136">{{m}}</p>
  {% endfor %} {% endif %} {% endwith %}
  <p id="name"></p>
  <br />
  <!-- render User  -->
  <script>
    const name = "{{search_name|safe}}";
    document.getElementById("name").innerHTML = "The result " + name + " is:";
  </script>
  <div id="user">
    {% for user in users %}
    <table class="table table-hover text-center">
      <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Userame</th>
          <th scope="col">Password</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{user[0]}}</td>
          <td>{{user[1]}}</td>
          <td>{{user[2]}}</td>
        </tr>
      </tbody>
    </table>
    {% endfor %}
  </div>
</div>

{% endblock %}
